body {
  background-image: url('image/Container.jpg');
  font: normal 16pt Arial;
}
header {
  color: rgb(245, 221, 243);
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(44, 33, 55);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.433);
}

section {
  background: rgb(223, 222, 218);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.433);
}

select#selDados {
  width: 300px;
  margin-left: 20%;
}
input#cal,
input#but {
  margin-left: 41%;
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
  margin-left: 46%;
  margin-right: 46%;
  background-color: rgb(252, 99, 64);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.433);
}
p.l {
  margin-left: 20%;
}
p.c {
  margin-left: 15%;
}
